<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidwiz.web.DAO.RegDAO">

	<select id="regRev" resultType="Map">
		SELECT * FROM regview LIMIT #{startRow},10;
	</select>
	
	<update id="accept" parameterType="String">
		UPDATE reg_consulting SET stat = '1' WHERE reg_no = #{reg_no} 
	</update>
	
	<insert id="regconInsert" parameterType="Map" keyColumn="sub_no" keyProperty="sub_no" useGeneratedKeys="true">
		INSERT INTO reg_consulting (stuNum, pro) VALUES (#{stuNum}, #{proNum}) 
	</insert>
	
	<select id="regDetail" parameterType="map" resultType="map">
		SELECT * FROM regInfoView WHERE reg_no=#{rgno} order by times
	</select>
	
	<select id="timetable" resultType="map">
		select * from timeCode
	</select>
	
	<insert id="oneTimeRegInsert" parameterType="map">
		INSERT INTO timeTestReg (stuNum, date, time, reg_no, memo, times, proNum) VALUES (#{stuNum}, #{date}, #{time}, #{reg_no}, #{memo}, #{times}, #{proNum})
	</insert>
	
	<select id="regTotalCount">
		SELECT COUNT(*) FROM reg_consulting
	</select>
	
	<select id="regResult" parameterType="String">
		SELECT * FROM regInfoView WHERE regno = #{regno
	</select>
	
	<select id="memberDetail" parameterType="String">
		SELECT * FROM members WHERE id = #{stuNum}
	</select>
	
	<insert id="resultWrite" parameterType="map">
		INSERT INTO counResult (counNum, stuNum, proNum, goal, content, summary,homework, opinion) 
		VALUES (#{regno}, #{stuNum}, #{proNum}, #{goal}, #{content}, #{summary}, #{homework}, #{opinion})
	</insert>
	
	<select id="getRegResult" parameterType="String">
		SELECT * FROM resultView WHERE regno = #{regno}
	</select>
	
	<update id="resultUpdate" parameterType="Map">
	UPDATE counResult SET goal = #{goal}, content = #{content}, summary = #{summary} ,homework = #{homework}, opinion = #{opinion}
	</update>
	
	<select id="getMajor" parameterType="int" resultType="String">
		SELECT major_name FROM members WHERE id = #{id}
	</select>
	
	<select id="getLastTime" parameterType="String">
		SELECT currentTimes from regview WHERE reg_no = #{regno}
	</select>
	
</mapper>