<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidwiz.web.DAO.RegDAO">

	<select id="regRev" resultType="Map">
		SELECT * FROM regview LIMIT #{startRow},10;
	</select>
	
	<update id="accept" parameterType="String">
		UPDATE reg_consulting SET stat = '1' WHERE reg_no = #{reg_no} 
	</update>
	
	<insert id="regconInsert" parameterType="Map" keyColumn="sub_no" keyProperty="sub_no" useGeneratedKeys="true">
		INSERT INTO reg_consulting (stuNum, pro) VALUES (#{stuNum}, #{proNum}) 
	</insert>
	
	<select id="regDetail" parameterType="map" resultType="map">
		SELECT * FROM regInfoView WHERE reg_no=#{rgno} order by times
	</select>
	
	<select id="timetable" resultType="map">
		select * from timeCode
	</select>
	
	<insert id="oneTimeRegInsert" parameterType="map">
		INSERT INTO reg_detail (stuNum, date, time, reg_no, memo, times, proNum) VALUES (#{stuNum}, #{date}, #{time}, #{reg_no}, #{memo}, #{times}, #{proNum})
	</insert>
	
	<select id="regTotalCount">
		SELECT COUNT(*) FROM reg_consulting
	</select>
	
	<select id="regResult" parameterType="String">
		SELECT * FROM regInfoView WHERE rd_no = #{regno}
	</select>
	
	<select id="memberDetail" parameterType="String">
		SELECT * FROM members WHERE id = #{id}
	</select>
	
	<insert id="resultWrite" parameterType="map">
		INSERT INTO reg_result (result_no, stuNum, proNum, goal, content, summary,homework, opinion) 
		VALUES (#{regno}, #{stuNum}, #{proNum}, #{goal}, #{content}, #{summary}, #{homework}, #{opinion})
	</insert>
	
	<select id="getRegResult" parameterType="String">
		SELECT * FROM resultView WHERE rd_no = #{regno}
	</select>
	
	<update id="resultUpdate" parameterType="Map">
		UPDATE reg_result SET goal = #{goal}, content = #{content}, summary = #{summary} ,homework = #{homework}, opinion = #{opinion}
		WHERE result_no = #{regno}
	</update>
	
	<select id="getMajor" parameterType="int" resultType="String">
		SELECT major_name FROM members WHERE id = #{id}
	</select>
	
	<select id="getRegInfo" parameterType="String">
		SELECT * from regview WHERE reg_no = #{regno}
	</select>
	
	<select id="regReservations" parameterType="String">
		SELECT * FROM reg_detail WHERE date = #{date} 
	</select>
	
	<select id="getCounselorInfo" parameterType="String" resultType="Map">
		SELECT * FROM counselorList WHERE id = #{id}
	</select>
	
	<select id="getProInfo" parameterType="String" resultType="Map">
		SELECT * FROM members WHERE major_name = #{type}
	</select>
	
	<select id="checkRegRev" parameterType="String" resultType="Map">
		SELECT * FROM reg_detail WHERE date = #{date}
	</select>
	
	<!-- 원데이 스케쥴 -->
	<select id="rsvs" resultType="Map" parameterType="Map">
		SELECT ctype as title, date as start, time, stuName, proName, code FROM scheduleView WHERE date = #{date}
		<if test="grade.equals('일반사용자')">
			AND stuNum = #{id}
		</if>
		<if test="grade.equals('관리자')">
			AND proNum = #{id}
		</if>
		ORDER BY code
	</select>
	
	<select id="getScehdule" resultType="Map" >
		SELECT time as title, date as start, code FROM scheduleView
		<where>
			<if test="grade.equals('일반사용자')">
				AND stuNum = #{id}
			</if>
			<if test="grade.equals('관리자')">
				AND proNum = #{id}
			</if>
		</where>
		ORDER BY date, code
	</select>
	
	<select id="recentBoard" parameterType="String" resultType="Map">
		SELECT bno, btitle, DATE_FORMAT(bdate, '%y-%m-%d') AS date
		 FROM board_consulting WHERE writer = #{id} ORDER BY bdate DESC LIMIT 0,5;
	</select>
	
	<select id="need2Write" parameterType="String" resultType="Map">
		SELECT prs.rsvno as no, prs.cdate as date, prs.time, prs.name, 'one' as type FROM ProResultWriteInfoView prs WHERE proid = #{id} AND writed = 0
		UNION ALL
		SELECT reg.rd_no as no, reg.date, reg.time, reg.name ,'reg' as type FROM regInfoView reg WHERE proNum = #{id} AND writed = 0
		ORDER BY date, time
	</select>
	
	<insert id="cardWrite" parameterType="java.util.List">
		INSERT INTO cardNews (cn_uuid, cn_name, cn_title, cn_exp) 
		VALUES 
		<foreach collection="list" item="card" separator=",">
			(#{card.cn_uuid}, #{card.cn_name}, #{card.cn_title}, #{card.cn_exp})
		</foreach>
	</insert>
	
	<select id="getCardNews" resultType="Map">
		SELECT * FROM cardNewsView ORDER BY cn_no
	</select>
	
	<select id="cardDetail" parameterType="String" resultType="Map">
		SELECT * FROM cardNews WHERE cn_uuid = #{uuid} ORDER BY cn_no DESC
	</select>
	
</mapper>
