<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidwiz.web.DAO.RsvDAO">
    <resultMap id="ReservationResultMap" type="com.kidwiz.web.DTO.RsvDTO">
        <id property="rsvno" column="rsvno" />
        <result property="sid" column="sid" />
        <result property="proid" column="proid" />
        <result property="ctype" column="ctype" />
        <result property="ctime" column="ctime" />
        <result property="cdate" column="cdate" />
        <result property="rsvdate" column="rsvdate" />
        <result property="rsvmemo" column="rsvmemo" />
    </resultMap>

    <select id="getAllReservations" resultMap="ReservationResultMap">
        SELECT * FROM rsv
    </select>

    <insert id="insertReservation" parameterType="com.kidwiz.web.DTO.RsvDTO">
        INSERT INTO rsv (sid, proid, ctype, ctime, cdate, rsvdate, rsvmemo)
        VALUES (#{sid}, #{proid}, #{ctype}, #{ctime}, #{cdate}, #{rsvdate}, #{rsvmemo})
    </insert>
    
    <select id="getMemberById" parameterType="int" resultType="com.kidwiz.web.DTO.MemberDTO">
        SELECT * FROM members WHERE id = #{id}
    </select>
</mapper>