<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidwiz.web.DAO.VueDAO">

	<select id="boardList" resultType="Map">
		SELECT * FROM reg_consulting LIMIT #{startRow},10;
	</select>
	
	<select id='getBoard' resultType="Map">
		SELECT ROW_NUMBER() OVER(ORDER BY if(up_bno='0',bno,up_bno) DESC,ordernum ASC) AS no,bno,writer, btitle,
		if(DATE_FORMAT(bdate,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d'),DATE_FORMAT(bdate,'%H:%i'),DATE_FORMAT(bdate,'%Y-%m-%d')) AS bdate,depth 
  		FROM board_consulting LIMIT #{startRow},10;
	</select>
	
	<insert id="boardWrite" parameterType="Map">
		INSERT INTO board_consulting (writer,btitle,bcontent) VALUES (#{writer},#{title},#{content})
	</insert>
	
	<insert id="write" parameterType="Map">
		INSERT INTO Temp (name, age) VALUES (#{name}, #{age})
	</insert>
	
	<select id="boardDetail" resultType="Map">
		SELECT bno,writer, btitle,bcontent,up_bno,depth,ordernum,
if(DATE_FORMAT(bdate,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d'),DATE_FORMAT(bdate,'%H:%i'),DATE_FORMAT(bdate,'%Y-%m-%d')) AS bdate
  FROM board_consulting WHERE bno = #{bno};
	</select>
	
	<delete id="boardDel" parameterType="String">
		DELETE FROM board_consulting WHERE bno = #{bno}
	</delete>
	
	<update id="boardUpdate" parameterType="Map">
		UPDATE board_consulting SET btitle = #{btitle}, bcontent = #{bcontent} WHERE bno = #{bno}
	</update>
	
	<insert id="boardReply" parameterType="Map">
		INSERT INTO board_consulting (btitle,depth,ordernum,writer,bcontent,up_bno) VALUES (#{btitle},#{depth}+1,#{ordernum}+1,#{writer},#{bcontent},#{bno})
	</insert>
	
	<select id="getPath" parameterType="String">
		SELECT up_bno, depth, ordernum 
		FROM board_consulting
		WHERE bno = #{bno}
	</select>
	
	<select id="getGroupList" resultType="Map">
		SELECT gr_no,coun_no,gr_title,gr_content,gr_apply,CONCAT(gr_oper," ",gr_time) AS gr_oper,total_num,img FROM group_consulting ORDER BY gr_no DESC LIMIT #{startRow},8
	</select>
	
	<select id="groupDetail" parameterType="String">
		SELECT a.coun_no,a.gr_title,a.gr_content,a.gr_apply,a.gr_oper, a.gr_del
		,a.total_num,a.img,a.sex,a.major, b.name,b.major_name,b.contact  
		FROM group_consulting a, members b WHERE a.coun_no = b.id AND gr_no =  #{gr_no}
	</select>
	
	<select id="getGList" parameterType="String">
		SELECT gr_title,CONCAT(DATE_FORMAT(gr_oper,'%Y-%m-%d %H:%i'),' ~ ',
		DATE_FORMAT(DATE_ADD(gr_oper,INTERVAL 3 HOUR),'%Y-%m-%d %H:%i')) AS gr_oper,total_num, gr_del,round
		FROM group_consulting WHERE up_gr_no = #{gr_no}
	</select>
	
	<select id="totalPage" resultType="String">
		SELECT COUNT(*) FROM board_consulting
	</select>
	<select id="totalGPage" resultType="INTEGER">
		SELECT COUNT(*) FROM group_consulting
	</select>
	
	<select id="getCoun" parameterType="String">
		SELECT coun_name FROM counselor WHERE coun_id=#{id}
	</select>
	
	<insert id="createGroup" parameterType="Map">
		INSERT INTO group_consulting (coun_no,up_gr_no,gr_title,gr_content,gr_apply,gr_oper,total_num,round,img,sex,major,gr_time) 
		VALUES ((SELECT coun_no FROM counselor WHERE coun_id = #{g_coun_id}),#{up_gr_no},#{g_title},
		#{g_content},#{g_apply},#{g_oper},#{g_total},#{round},#{image},#{g_sex},#{g_major},#{g_time})
	</insert>
	<select id="getDay" parameterType="Map">
			WITH RECURSIVE T_TEMP_DATES AS (
			   SELECT #{startDay} AS DT
			UNION
			   SELECT DATE_ADD(T_TEMP_DATES.DT, INTERVAL 1 DAY) FROM T_TEMP_DATES WHERE DATE_ADD(T_TEMP_DATES.DT, INTERVAL 1 DAY) &lt;= #{endDay}
			)
			SELECT DT, WEEKDAY(DT) AS DAY FROM T_TEMP_DATES GROUP BY DT HAVING DAY = #{day}
	</select>
	
	<select id="getGrNo" parameterType="String">
		SELECT gr_no FROM group_consulting WHERE gr_title = #{title}
	</select>
	
	<select id="getMemberType" parameterType="int">
		SELECT dept FROM members WHERE id = #{id}
	</select>
</mapper>










