<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidwiz.web.DAO.VueDAO">
	<select id="boardList" resultType="Map">
		SELECT * FROM Temp
	</select>
	
	<select id='getBoard' resultType="Map">
		SELECT ROW_NUMBER() OVER(ORDER BY bno) AS no,bno,writer, btitle,
if(DATE_FORMAT(bdate,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d'),DATE_FORMAT(bdate,'%H:%i'),DATE_FORMAT(bdate,'%Y-%m-%d')) AS bdate
  FROM board_consulting ORDER BY no DESC;
	</select>
	
	<insert id="boardWrite" parameterType="Map">
		INSERT INTO board_consulting (writer,btitle,bcontent) VALUES (#{writer},#{title},#{content})
	</insert>
	<insert id="write" parameterType="Map">
		INSERT INTO Temp (name, age) VALUES (#{name}, #{age})
	</insert>
	
	<select id="boardDetail" resultType="Map">
		SELECT bno,writer, btitle,bcontent,up_bno,depth,ordernum,
if(DATE_FORMAT(bdate,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d'),DATE_FORMAT(bdate,'%H:%i'),DATE_FORMAT(bdate,'%Y-%m-%d')) AS bdate
  FROM board_consulting WHERE bno = #{bno};
	</select>
	
	<delete id="boardDel" parameterType="String">
		DELETE FROM board_consulting WHERE bno = #{bno}
	</delete>
	
	<update id="boardUpdate" parameterType="Map">
		UPDATE board_consulting SET btitle = #{btitle}, bcontent = #{bcontent} WHERE bno = #{bno}
	</update>
	
	<insert id="boardReply" parameterType="Map">
		INSERT INTO board_consulting (btitle,depth,ordernum,writer,bcontent,up_bno) VALUES (#{btitle},#{depth+1},#{ordernum+1},#{writer},#{up_bno})
	</insert>
</mapper>