#calendar {
    height: 500px;
    width: 500px;
    color: darkgreen;
}

a {
    color: inherit; /* 링크 색상을 상위 요소의 색상과 동일하게 설정 */
    text-decoration: none; /* 밑줄 제거 */
}
.calendar-link {
    color: inherit;
    text-decoration: none;
}

/* 선택된 날짜 영역의 스타일 */
.fc .fc-highlight {
    background-color: #9ecae1; /* 선택 영역의 배경색 설정 */
    opacity: 0.75; /* 배경색 투명도 설정 */
}

/* 마우스를 올렸을 때 날짜 셀의 배경색 변경 */
.fc .fc-day:hover {
    background-color: #a9fbdd; /* 호버 시 배경색 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

/* 선택된 날짜 셀의 스타일 */
.fc-day-selected {
    background-color: #4ddbf1; /* 선택된 날짜의 배경색 */
    color: white; /* 선택된 날짜의 텍스트 색상 */
}


.calendar-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .calendar-container {
    width: 50%;
  }
  .available-times {
    width: 30%;
    margin-left: 20px;
  }
  .reservation-form {
    width: 20%;
  }